@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    /* Primitive Color Tokens */

    /* Neutral Colors */
    --neutral-0: #FFFFFF;
    --neutral-100: #F7F9FC;
    --neutral-200: #EDF0F7;
    --neutral-300: #E2E7F0;
    --neutral-400: #CBD2E0;
    --neutral-500: #A0ABC0;
    --neutral-600: #717D96;
    --neutral-700: #4A5468;
    --neutral-800: #2D3648;
    --neutral-900: #1A202C;
    --neutral-1000: #0F131A;
    --neutral-400-a8: rgba(203, 210, 224, .08);
    --neutral-400-a16: rgba(203, 210, 224, .16);
    --neutral-600-a8: rgba(113, 125, 150, .08);
    --neutral-600-a16: rgba(113, 125, 150, .16);

    /* Accent Colors */
    --blue-50: #F1F2FF;
    --blue-100: #D6DBFF;
    --blue-200: #B9C4FF;
    --blue-300: #99AEFF;
    --blue-400: #7799FF;
    --blue-500: #5385FF;
    --blue-600: #2B72F2;
    --blue-700: #0060D9;
    --blue-800: #004FBB;
    --blue-900: #003E97;
    --blue-950: #003075;

    /* Success Colors */
    --green-50: #E8F8E5;
    --green-100: #BBEAB6;
    --green-200: #8EDB8B;
    --green-300: #5FCA62;
    --green-400: #25B83D;
    --green-500: #00A518;
    --green-600: #009100;
    --green-700: #007C00;
    --green-800: #006700;
    --green-900: #005200;
    --green-950: #003D00;

    /* Warning Colors */
    --orange-50: #FFF1E4;
    --orange-100: #FFD6B2;
    --orange-200: #FBBC84;
    --orange-300: #F0A35A;
    --orange-400: #E08C34;
    --orange-500: #CD770A;
    --orange-600: #B86300;
    --orange-700: #A05100;
    --orange-800: #864100;
    --orange-900: #6C3200;
    --orange-950: #522500;

    /* Danger Colors */
    --red-50: #FFEEEB;
    --red-100: #FFCDC5;
    --red-200: #FFADA3;
    --red-300: #FF8D83;
    --red-400: #FF6E68;
    --red-500: #F75050;
    --red-600: #E2353D;
    --red-700: #C71C2D;
    --red-800: #AA0721;
    --red-900: #890418;
    --red-950: #590310;

    /* Semantic Color Tokens */
    
    /* Background Tokens */
    
    --background-default: var(--neutral-0);
    --background-surface: var(--neutral-100);
    --background-neutral-hover: var(--neutral-600-a8);
    --background-neutral-active: var(--neutral-600-a16);
    --background-disabled: var(--neutral-500);
    --background-accent-default: var(--blue-600);
    --background-accent-hover: var(--blue-700);
    --background-accent-active: var(--blue-800);

    /* Border Tokens */

    --border-default: var(--neutral-500);
    --border-accent-default: var(--blue-600);

    /* Content Tokens */

    --content-default: var(--neutral-1000);
    --content-default-inverted: var(--neutral-0);
    --content-subtle: var(--neutral-800);
    --content-subtlest: var(--neutral-600);
    --content-disabled: var(--neutral-500);
    --content-disabled-subtle: var(--neutral-400);
    --content-accent-default: var(--blue-600);
    --content-accent-hover: var(--blue-700);
    --content-accent-active: var(--blue-800);

}

* {
    box-sizing: border-box;;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    background: var(--background-surface);
    font-family: "Inter", sans-serif;
    animation: rotate 6s infinite alternate linear;
}

.circle {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65cbff;
}

.circle::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -50vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
}

.card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 160px 32px 40px;
    border-radius: 1.25rem;
    background: var(--background-default);
    text-align: center;
    box-shadow: 0 100px 160px rgb(0 0 0 / 10%);
}

.card::before {
    content: "";
    position: absolute;
    background: var(--background-accent-default);
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    height: 64px;
    width: 64px;
    top: 32px;
    left: 50%;
    translate: -50% 0;
}

.card .logo i {
    font-size: 48px;
    color: #216ce7;
    font-weight: 500;
}

.card>h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 30px;
    color: #2a3444;
}

.form {
    margin: 0 0 32px;
    display: grid;
    gap: 24px;
}

.form>input, .form>button {
    width: 100%;
    height: 48px;
    border-radius: 24px;
}

.form>input {
    border: 2px solid var(--border-default);
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: var(--content-default);
    transition: all 0.375s;
}

.form>input:hover {
    border: 2px solid var(--background-accent-hover);
    background: var(--background-neutral-hover);
}

.form>input:focus {
    border: 2px solid var(--border-accent-default);
}

.form>input:placeholder {
    color: var(--content-subtlest);
}

.form>button {
    cursor: pointer;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background: var(--background-accent-default);
    border: 0;
    color: var(--content-default-inverted);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.375s;
}

.form>button:hover {
    background: var(--background-accent-hover);
}

.form>button:active {
    background: var(--background-accent-active);
}

.card>footer {
    color: var(--content-default)
}

.card>footer>a {
    color: var(--content-accent-default);
    transition: all 0.375s;
}

.card>footer>a:hover {
    color: var(--content-accent-hover);
}

@media (width>=500px) {
    body {
        padding: 0;
    }

    .card {
        margin: 0;
        width: 360px;
    }
}